:root {
	--sidebar-header-height: 90px;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
	padding-top: 10px;
	padding-bottom: 10px;
    height: var(--sidebar-header-height); /* Adjust height as needed */
    background: #333;
    color: white;
    text-align: center;
    font-weight: bold;
	font-size: 20px;
    z-index: 1000; /* Ensures it stays on top */
}

.sidebar {
	position: fixed;
	top: calc(var(--sidebar-header-height) + 20px); /* Offset by the height of the top box */
    width: 260px;
    background: #333;
    color: white;
    padding-left: 10px;
	padding-right: 10px;
    height: calc(100vh - var(--sidebar-header-height) - 20px); /* Full height minus top box */
	
    overflow-y: auto;
	transition: background 0.3s, color 0.3s;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: #888 #f0f0f0;
}

.sidebar a:hover, .sidebar span:hover {
    color: white;
    background: #6f6f6f;
    border-radius: 5px; /* Optional: Rounded corners */
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding-left: 10px;
}

.sidebar li {
	white-space: nowrap;
}

.sidebar a {
    color: white;
    text-decoration: none;
	min-height: 30px;
	display: block;
}

.sidebar span {
	min-height: 30px;
}

.sidebar .folder {
    cursor: pointer;
	vertical-align: middle;
}

.toggle {
	display: block;
    margin-right: 5px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    padding: 20px;
	
    margin-left: 280px; /* Same as sidebar width + its padding*/
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}

search {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
	
	display: block;
}
